<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}" target=blank>{{title}}</a><span>{{domain}}</span></h3>
      <p>submitted by {{author}} 
         {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>

    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
